@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-dark-gradient {
    background: radial-gradient(ellipse at top, #0c0a09, transparent),
            radial-gradient(ellipse at bottom, black, transparent);
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 12, 10, 9;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
